.settings
    display: flex
    margin 5px 0

    &__label
        display: block
        margin 0 20px 0 0

        &-text
            display inline-block
            margin 0 5px 0 0

    &__input
        width: 50px
