{
    "plugins": [["@babel/plugin-proposal-object-rest-spread", {"useBuiltIns": true}]],
    "env": {
        "testing": {
            "plugins": ["@babel/plugin-transform-flow-strip-types", "@babel/plugin-transform-modules-commonjs"]
        },
        "development": {
            "plugins": [
                "@babel/plugin-syntax-flow",
                // "flow-react-proptypes",
                "@babel/plugin-transform-flow-strip-types",
                "@babel/plugin-transform-react-jsx"
            ]
        },
        "production": {
            "plugins": ["@babel/plugin-transform-flow-strip-types", "@babel/plugin-transform-react-jsx", "react-remove-prop-types"],
        }
    }
}
