{
    "env": {
        "testing": {
            "plugins": ["syntax-object-rest-spread", "transform-flow-strip-types", "transform-es2015-modules-commonjs"]
        },
        "development": {
            "plugins": [
                "syntax-object-rest-spread",
                "syntax-flow",
                "flow-react-proptypes",
                "transform-flow-strip-types",
                "transform-react-jsx"
            ]
        },
        "production": {
            "plugins": ["syntax-object-rest-spread", "transform-flow-strip-types", "transform-react-jsx", "transform-react-remove-prop-types"],
        }
    }
}
